# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraform.lock.hcl
.terraformrc
terraform.rc
tfplan
*.tfplan

# Keep example var files
!terraform.tfvars.example
!*.tfvars.example

# Secrets and local kubeconfig
*.pem
*.key
example.kubeconfig
kubeconfig
*.kubeconfig

# Media dumps
*.mp4
